body {
    background-color: black;
    color: white;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: gray;
    border-radius: 4px;


}

img {
    height: 350px;
    width: 500px;
}
